<?php
/*
 * If you want to use PHPMailer, set this to true
 * Otherwise, the integrated php mail() function will be used
 */
const USE_PHPMAILER = true;

/*
 * Mail settings for PHPMailer
 */
const MAIL_TO						 	= "to@mail-address";
const MAIL_FROM           = "from@mail-address";
const MAIL_FROMNAME       = "From Name";
const MAIL_REPLYTO        = "replyto@mail-address";
const MAIL_HOST          	= "mail.host.tld";
const MAIL_USERNAME       = "username";
const MAIL_PASSWORD       = "password";
const MAIL_PORT           = 587;
const MAIL_SECURITY       = "tls";

